body #pjWrapper { background: #f8f8f6; }

#pjWrapper .pjEbcEventTitle,
#pjWrapper .pjEbcEventCategory,
#pjWrapper .pjEbcBookingForm .pjEbcFormHeader .datetime span,
#pjWrapper .pjEbcBookingForm .pjEbcEventContent label { color: #54b06f; }

#pjWrapper .form-control:focus { border-color: #77a63e; -webkit-box-shadow: 0 0 10px rgba(119, 166, 62, .3); box-shadow: 0 0 10px rgba(119, 166, 62, .3); }

#pjWrapper a { color: #54b06f; } 

#pjWrapper .dropdown-menu,
#pjWrapper .btn { color: #fff; background: #9acf5b; border: 1px solid #77a63e;}

#pjWrapper .dropdown-menu a { color: #fff; }
#pjWrapper .dropdown-menu a:hover { background: #77a63e; }

#pjWrapper .btn:hover,
#pjWrapper .btn.active { background: #77a63e; border: 1px solid #699138;}

.pjIcCalendarTable th { background: #54b06f; color: #fff; }  

#pjWrapper .table-bordered, 
#pjWrapper .table-bordered > tbody > tr > td, 
#pjWrapper .table-bordered > tbody > tr > th, 
#pjWrapper .table-bordered > tfoot > tr > td, 
#pjWrapper .table-bordered > tfoot > tr > th, 
#pjWrapper .table-bordered > thead > tr > td, 
#pjWrapper .table-bordered > thead > tr > th,
#pjWrapper .thumbnail  { border-color: #54b06f; }

#pjWrapper .thumbnail,
#pjWrapper .pjCalTable,
#pjWrapper .pjCalMonths table,
#pjWrapper .pjIcCalendarTable td,
#pjWrapper .pjIcCalendarTable { background: #f8f8f6; }

#pjWrapper .pjIcCalendarTable td.pjIcMonthAlt:hover,
#pjWrapper .pjIcCalendarTable td.pjIcMonthAlt { background: #e8e6e6; }

#pjWrapper .pjCalMonths th .active { background: #54b06f; }

#pjWrapper .pjIcCalendarTable td:hover { background: #9acf5b; }

#pjWrapper .pj-calendar-day { background: #333; }
#pjWrapper .pj-calendar-head,
#pjWrapper .pj-calendar-body,
#pjWrapper .pj-calendar-day p,
#pjWrapper .pj-calendar-day-disabled p { background: #f8f8f6; }
#pjWrapper .pj-calendar-head { border-color: #333; }
#pjWrapper .pj-calendar-day-header { background: #f8f8f6; color: #54b06f; }
#pjWrapper .pj-calendar-day p,
#pjWrapper .pj-calendar-day:hover p { color: #333; }
#pjWrapper .pj-calendar-day-today p { background: #54b06f; color: #fff; }
#pjWrapper .pj-calendar-day-today p:hover { background: #77a63e; color: #fff; }
#pjWrapper .pjEbcEventCell p { background: #77a63e !important; }
#pjWrapper .pjEbcEventCell p:hover { background: #54b06f !important; }
#pjWrapper .pj-calendar-day-past { background: #f8f8f6; }
#pjWrapper .pj-calendar-day-past p,
#pjWrapper .pj-calendar-day-past p:hover { background: #333; color: #fff; }